black==20.8b1
fire==0.4.0
focal-loss-torch==0.0.7
numpy==1.18.5
opencv-python==4.5.1.48
pandas==1.1.5
scipy==1.6.2
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.46.0
varname==0.6.3
wandb==0.10.24